
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <input type="search" class="form-control" id="buscarTitulo" placeholder="Buscar por títulos y resúmenes" />
                <button class="btn btnBusqueda" type="button" onclick="BuscarPorTitulo()">Buscar <i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="col-sm-12 mt-4">
            <h5>Investigaciones realizadas por el  @ViewBag.centroInvestigacion</h5>
        </div>
        <div class="col-sm-12">
            <div id="cargando" class="text-center mt-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-2" id="listaProyectos">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Listar(@ViewBag.idCentroInvestigacion);
        Limpiar();
    });

    function Limpiar() {
        $("#buscarTitulo").val("");
    }

    function Listar() {
        $("#listaProyectos").html("");
        $("#cargando").show();
        $.getJSON('@Url.Action("Listar", "PorCentrosInvestigacion")', { idCentroInvestigacion: @ViewBag.idCentroInvestigacion }, function (codHTML) {
            $("#cargando").hide();
            $("#listaProyectos").html(codHTML);
        });
    }

    function BuscarPorTitulo() {
        if ($("#buscarTitulo").val() == "") {
            Listar();
        } else {
            $("#listaProyectos").html("");
            $("#cargando").show();
            $.getJSON('@Url.Action("BuscarPorTitulo", "PorCentrosInvestigacion")', { titulo: $("#buscarTitulo").val(), idCentroInvestigacion: @ViewBag.idCentroInvestigacion }, function (codHTML) {
                $("#cargando").hide();
                $("#listaProyectos").html(codHTML);
            });
        }
    }
</script>

